<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/airticket</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <!--<mapping resource="ru/rrr/generated_entities/FlightEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.FlightEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/PassengerEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.PassengerEntity"/>
    <mapping class="ru.rrr.generated_entities.ReservationEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/ReservationEntity.hbm.xml"/>-->
    <!--<mapping resource="ru/rrr/generated_entities/SprAircraftEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprAircraftEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprAircraftPlaceEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprAircraftPlaceEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprCityEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprCityEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprCompanyEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprCompanyEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprCountryEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprCountryEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprFlightClassEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprFlightClassEntity"/>
    <!--<mapping resource="ru/rrr/generated_entities/SprPlaceEntity.hbm.xml"/>-->
    <mapping class="ru.rrr.generated_entities.SprPlaceEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
     <!--<property name="hbm2ddl.auto">update</property> -->
    <!--<property name="show_sql">true</property>-->
  </session-factory>
</hibernate-configuration>